<ui>
  <menubar name="MainMenu">
    <menu name="FileMenu" action="FileMenuAction">
      <menuitem name="Open" action="OpenAction" />
      <menuitem name="Save" action="SaveAction" />
      <menuitem name="Close" action="CloseAction" />
      <menuitem name="Quit" action="QuitAction" />
    </menu>
    <menu name="EditMenu" action="EditMenuAction">
      <menuitem name="Cut" action="CutAction"/>
      <menuitem name="Copy" action="CopyAction"/>
      <menuitem name="Paste" action="PasteAction"/>
    </menu>
    <menu name="HelpMenu" action="HelpMenuAction">
      <menuitem name="Help" action="HelpAction"/>
    </menu>
  </menubar>
</ui>
